{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="alllistings">All Listings</h2>
    <ul>
        {% for listing in listings %}
            {% if listing.listing_active == True %}
                <div class="listing">
                    <img class="image" src="{{ listing.listing_image }}" alt="listing image here" width="500" height="300">
                    <div class="listing-info">
                        <h4><a href="{% url 'listing' id=listing.id %}">{{ listing.listing_name }}</a></h4>
                        <p>{{ listing.listing_description }}</p>
                        {% if listing.highest_bid == None %}
                            <h3 style="margin-top: 2%;">Starting Bid: ${{ listing.starting_bid }}</h3>
                        {% else %}
                            <h4 style="margin-top: 2%;"><strong>Highest Bid: ${{ listing.highest_bid }}</strong></h4>
                        {% endif %}
                        <h6 style="margin-top: 4%; float:right;">Created at {{ listing.listing_created_date }}</h6>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
    </ul>
{% endblock %}